:root{

    box-sizing: border-box;
}


*{

    border: 1px solid blue;
}

body{

    background-color: #EF3E3E;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

main{

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h2{

    margin: 0;
    padding: 0;
}

.first-column{

    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
    text-align: center;
    padding-top: 30px;
}

.search-form{

    display: flex;
    height: 30%;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-form i{

    cursor: pointer;
}

.search-bar{

    width: 80%;
    height: 40px;
    border-radius: 5px;
    background-color: #B62F2F;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    color: beige;
    font-size: 1.5em;
    font-weight: bold;
}

.evolution-display{

    width: 75%;
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

/* Faire en sorte que le 2 et Herbizarre soient proches, avec l'icône en bout de div */
.pokemon-evolution, .single-pokemon{

    display: flex;
    background-color: #292929;
    justify-content: space-around;
    border-radius: 3px;
    height: 70px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.evolution-display h2{

    display: flex;
    padding-bottom: 10px;
    color: white;
}

.pokemon-test
{

    justify-self: center;
    width: 50%;
    align-self: center;
}


.search-bar:focus{

    outline: none;
}

.search-form .submit{

    border: none;
    background: none;
}

.display-pokemon-line{

    padding-top: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    gap: 20px;
}

.single-pokemon{

    width: 90%;
}

.pokemon-line{

    cursor: pointer;
    /* cursor:pointer; fonctionnera lorsque j'ajouterai la classe 
       lors de la création des balises avec template et le setattribute
    */ 
}

.display-pokemon-infos{

    align-content: center;
}